/*
 *= require_tree .
 *= require_self
 **/

 h1 {
   text-align: center;
   font-size: 400%;
   font-family: cursive;

  }
 body {
   background-image: url("male_fashion_model.png"), url("female_fashion_model.png");
   background-size: 50%, 50%;
   background-attachment: fixed;
   background-position: left top, right top;
   background-repeat: repeat-y;
}

.message {
  color: white
}
