// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-default {
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 50px;
  border-style: bold;
  border-width: 5px;
  border-color: red;
}
.cart_button {
  text-align: center;
}

.product-img {
  margin-left: 200px
}

.product-name1 {
  font-family: cursive;
  font-size: 20px;
  text-align: center;

}

.product-price {
  margin-right: 25px;
  text-align: center;
}
