// Place all the styles related to the shopping_cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-default {
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 50px;

}

.Item{
  margin-right: 10%;
}
.Quantity{
  margin-left: 0%;
}
.Price{
  padding-right: 0%;
}
.Total_Price{
  padding-left: 57%;
  width: 100%;
}
.button_to .remove_button{
  margin-left: 550px;
}

.product-name {
  margin-left: 0px;
  margin-right: 20px;
  width: 200px;
}
 .product-quantity {
   width: 10px;

 }
 .product-price {
   margin-left: 0px;
 }

 .links1 {
   margin-left: 500px
 }

.links {
  margin-left: 290px
}

.form {
  text-align : center;
}

.code {
 text-align: center;
 width: 200px;
}
